/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

button {
  appearance: none;
  border: 0;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

body {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  font-family: Plus Jakarta Sans;
  padding: 2rem;
  background-color: black;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
